@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#app-wrapper {
  display: grid;
  width: 98vw;
  max-width: 1100px;
  min-width: 600px;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 15vh 78vh;
  grid-template-areas:
    "titleLeft stagingArea titleRight"
    "titleLeft gameBoard titleRight";
  gap: 5px;
}
/* --------------- Connect4 Label Side Bars -------------- */
.title {
  padding: 10px 1px;
  font-family: "Fredoka One";
  font-size: 2em;
  text-shadow: -2px 2px 0 black, 2px 2px 0 black, 2px -2px 0 black,
    -2px -2px 0 black;
  border-radius: 5em;
  background: blue;
  border: 5px solid rgba(0, 0, 0, 0.74);
  writing-mode: vertical-rl;
  align-self: center;
}
#title-left {
  grid-area: titleLeft;
  justify-self: end;
  color: red;
}
#title-right {
  grid-area: titleRight;
  justify-self: start;
  color: yellow;
}
/*----------------------- Staging Area ------------------*/
#staging-area {
  grid-area: stagingArea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-stage {
  flex: 1 1 auto;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.hover-token-yellow,
.hover-token-red {
  border-radius: 50%;
  height: 12vmin;
  width: 12vmin;
  max-height: 78px;
  max-width: 78px;
}
.col-stage:hover > .hover-token-red {
  background: red;
  border: 2px solid rgb(15, 15, 15);
  box-shadow: 2px -1px rgb(77, 74, 74);
}
.col-stage:hover > .hover-token-yellow {
  background: yellow;
  border: 2px solid rgb(15, 15, 15);
  box-shadow: 2px -1px rgb(77, 74, 74);
}

/* ---------------- game board styling --------------- */
#game-board {
  grid-area: gameBoard;
  background: blue;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  border-radius: 0.3em;
  box-shadow: 2px -2px black;
}
.game-board-col {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.game-space {
  flex: 0 1 auto;
  height: 11vmin;
  width: 11vmin;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
  box-shadow: 3px -2px black;
}
.game-space-red {
  flex: 0 1 auto;
  height: 11vmin;
  width: 11vmin;
  border-radius: 50%;
  background-color: red;
  border: 1px solid black;
  box-shadow: 1px -1px black;
}
.game-space-yellow {
  flex: 0 1 auto;
  height: 11vmin;
  width: 11vmin;
  border-radius: 50%;
  background-color: yellow;
  border: 1px solid black;
  box-shadow: 1px -1px black;
}

/*---------------Winning Banner Style ------------*/
.winning-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  border: 5px solid black;
  border-radius: 1em;
  height: 30vh;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2em;
  font-family: "Roboto";
}
#winning-banner-red {
  background: red;
}
#winning-banner-yellow {
  background: yellow;
}
